
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}


body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Inter', sans-serif;
}

#main-container {
    width: 100%;
    height: 100%;
    position: relative;
    background: #333131;
    overflow: hidden;
}


#carousel-wrapper {
    width: 380px;  
    height: 330px; 
    left: 100px;
    top: 576px;
    position: absolute;
}


#carousel-wrapper .carousel,
#carousel-wrapper .carousel-inner,
#carousel-wrapper .carousel-item,
#carousel-wrapper .carousel-item img {
    height: 100%;
    object-fit: cover;
}


